<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        form{
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding: 10px;
            background: #0005;
        }
        form input{
            outline: none;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <form method="get" action="/">
            <input type="text" name="name" placeholder="Name">
            <input type="submit" value="Send">
        </form>
    </div>
</body>
</html>